.navbar {
    background-color: black;
    grid-area: N;
    padding: 10%;
}

.item {
    padding: 10%;
    
}

a {
    text-decoration: none;
    color: white;
}

.item :hover {
    color: rgb(153, 156, 156);
    text-decoration: none;
}

.item .active {
    color: rgb(127, 240, 240);
    text-decoration: none;
}
.navFriends {
    text-align: center;
    margin-top: 50%;
    background-color: bisque;
    border-radius: 5%;
}
